.App {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    --ternary: #454e56;
    --secondary: #2a2e35;
    --main: #12181b;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-light: #0be586;
    font-family: 'Nunito', sans-serif;
    color: #ffffff
}

.content{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    display: flex;
    padding: 10px;
    flex-direction: column;
    height: calc(100%-20px);
    align-items: center;
}



